#app {
  min-width: 1024px;
}

a {
  text-decoration: none;
}

.el-aside {
  width: 20%;
}

.el-link {
  text-decoration: none;
}

.time {
  font-size: 10px;
  color: #999;
}

.linked .linked-title {
  text-align: left;
}
